/* City Falcon Casestudy */
h1 {
font-family: var(--heading-font-style);
  color: #011638;
  font-weight: bold;
  font-size: 46px;
  padding-top: 95px;
  text-align: center;
} 

.cityfalcon {
    border-radius: 0px;
}

.contact-box-cf {
  background: #EBF66A;
  padding: 20px 120px;
  border-radius: 10px;
}

.btn-work-inquiry-cf {
  font-family: var(--secondary-font-style);
  font-weight: 500;
  color: white;
  background-color: #F65282;
  border-radius: 2px;
  padding: 15px 50px;
  font-size: 15px;
  font-family: var(--secondary-font-style);
  border-radius: 4px;
  margin-top: 7px;
}

.btn-work-inquiry-cf:hover {
  color: #F65282;
  background-color: #EBF66A;
  border: 3.5px solid #F65282;
  font-weight: 800;
}


/* Adulting 101 */

.btn-prototype {
max-width: 750px;
}

.btn-ad-prototype-view {
display: block;
font-family: var(--secondary-font-style);
font-size: 18px;
font-weight: 600;
color: white;
background-color: #f65282;
margin: 15px;
padding: 15px;
text-align: center;
}

.btn-ad-prototype-view:hover {
border: 2px solid #f65282;
 color:#f65282;
 background: #fff;
}

.contact-box-ad {
  background: #EC9275;
  padding: 20px 120px;
  border-radius: 10px;
}

.btn-work-inquiry-ad {
  font-family: var(--secondary-font-style);
  font-weight: 500;
  color: white;
  background-color: #67D5D2;
  border-radius: 2px;
  padding: 15px 50px;
  font-size: 15px;
  font-family: var(--secondary-font-style);
  border-radius: 4px;
  margin-top: 7px;
}

.btn-work-inquiry-ad:hover {
  color: #67D5D2;
  background-color: #EC9275;
  border: 3.5px solid #67D5D2;
  font-weight: 800;
}

/* perfect properties */

.work-contact-pp {
  background: #FBA8C0;
  padding: 20px 120px;
  border-radius: 10px;
}

.btn-work-inquiry-pp {
  font-family: var(--secondary-font-style);
  font-weight: 500;
  color: white;
  background-color: #67D5D2;
  border-radius: 2px;
  padding: 15px 50px;
  font-size: 15px;
  font-family: var(--secondary-font-style);
  border-radius: 4px;
  margin-top: 7px;
}

.btn-work-inquiry-pp:hover {
  color: #67D5D2;
  background-color: #FBA8C0;
  border: 3.5px solid #67D5D2;
  font-weight: 800;
}

/* vida */
.btn-prototype-vida {
max-width: 550px;
}

.btn-ad-prototype-vida{
display: block;
border-radius: 10px;
font-family: var(--secondary-font-style);
font-size: 18px;
font-weight: 600;
color: white;
background-color: #AC278F;
margin: 15px;
padding: 15px;
text-align: center;
}

.btn-ad-prototype-vida:hover {
border: 2px solid #AC278F;
 color:#AC278F;
 background: #fff;
}

.contact-box-vida {
  background: #ABE8E6;
  padding: 20px 120px;
  border-radius: 10px;
}

.btn-work-inquiry-vida {
  font-family: var(--secondary-font-style);
  font-weight: 500;
  color: white;
  background-color: #ED7D59;
  border-radius: 2px;
  padding: 15px 50px;
  font-size: 15px;
  font-family: var(--secondary-font-style);
  border-radius: 4px;
  margin-top: 7px;
}

.btn-work-inquiry-vida:hover {
  color: #ED7D59;
  background-color: #ABE8E6;
  border: 3.5px solid #ED7D59;
  font-weight: 800;
}

/* Goalden Hour */

.contact-box-GH {
  background: #EBF66A;
  padding: 20px 120px;
  border-radius: 10px;
}

.btn-work-inquiry-GH {
  font-family: var(--secondary-font-style);
  font-weight: 500;
  color: white;
  background-color: #6C63FF;
  border-radius: 2px;
  padding: 15px 50px;
  font-size: 15px;
  font-family: var(--secondary-font-style);
  border-radius: 4px;
  margin-top: 7px;
}

.btn-work-inquiry-GH:hover {
  color: #6C63FF;
  background-color: #EBF66A;
  border: 3.5px solid #6C63FF;
  font-weight: 800;
}

/* Tesco PLC */
