:root {
  --background-color: #f9f7fe;
  --heading-font-style: "Playfair Display", serif;
  --secondary-font-style: "Nunito", sans-serif;
}
/* Nav-bar */

.nav-container-one {
  background-color: var(--background-color);
  margin: 0;
  margin-right: 0;
  padding: 0;
  max-width: 100%;
}

.nav-blue {
  padding: 15px;
  background-color: var(--background-color);
}

.nav-white {
  padding: 15px;
  background-color: #fff;
}

.logo {
  margin-left: 8px;
  font-size: 22px;
  font-family: "DM Serif Text", serif;
  color: #272142;
  font-style: italic;
}

nav ul {
  margin: 0px;
  margin-right: 8px;
  padding: 0px;
}

nav a {
  font-family: var(--secondary-font-style);
  font-size: 18px;
  color: #272142 !important;
  font-weight: 600;
}

nav a:hover {
  color: #7e8897 !important;
}

.active {
  font-weight: 800 !important;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

.realistic-marker-highlight-nav{
  position:relative;
}
.realistic-marker-highlight-nav:before{
  content:"";
  background-color:#EEFF28;
  width:100%;
  height:.85em;
  position:absolute;
  z-index:-1;
  filter:url(#marker-shape);
  left:-0.25em;
  top:0.1em;
  padding:0 0.25em;
}

/* homepage */
.hero {
  background-color: var(--background-color);
  text-align: center;
  padding: 140px 20px;
}

.hero h1 {
  font-family: var(--heading-font-style);
  color: #011638;
  font-weight: bold;
  font-size: 96px;
  padding: 15px;
}

.hero h2 {
  font-family: var(--secondary-font-style);
  font-size: 36px;
  font-weight: 500;
}

.hero p {
  font-family: var(--secondary-font-style);
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

#typewriter {
  font-weight: bold;
}

.btn-main {
  font-family: var(--secondary-font-style);
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: #f65282;
  padding: 15px 70px;
  text-align: center;
  transition: all 250ms ease-in-out;
}

.btn-main:hover {
  color: #f65282;
  background-color: var(--background-color);
  border: 3px solid #f65282;
  font-weight: 800;
}

.skills img {
  display: block;
  margin: 0 auto;
}

.skills ul {
  text-align: center;
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
}

.skill-set {
  padding: 15px 0px 0px;
  font-size: 26px;
  text-decoration: none;
}

.skill-description {
  text-align: center;
  padding-bottom: 10px;
}

hr {
  width: 70%;
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

h4 {
  font-family: var(--secondary-font-style);
  font-size: 30px;
}
h3 {
  text-align: left;
  font-family: var(--heading-font-style);
  font-size: 30px;
  font-weight: 700;
}

.flex {
  text-align: center;
  color: #ed7d59;
}

.img-fluid {
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

.btn-learn-more {
  border: #ed7d59 3px solid;
  color: #ed7d59;
  font-weight: 600;
  border-radius: 2px;
  padding: 12px 60px;
  margin-top: 10px;
  font-size: 15px;
  font-family: var(--secondary-font-style);
  border-radius: 4px;
  transition: all 150ms ease-in-out;
}

.btn-learn-more:hover {
  color: #ed7d59;
  border: 3.5px solid #ed7d59;
  font-weight: 800;
}

.carousel .fas {
  color: #011638;
  padding: 20px;
}
/* My Work */

.btn-case-study {
  border: #67D5D2 3px solid;
  color: #67D5D2;
  font-weight: 600;
  border-radius: 2px;
  padding: 12px 60px;
  margin-top: 10px;
  font-size: 15px;
  font-family: var(--secondary-font-style);
  border-radius: 4px;
  transition: all 150ms ease-in-out;
}

.btn-case-study:hover {
  color: #67D5D2;
  border: 3.5px solid #67D5D2;
  font-weight: 800;
}
.contact-box-wp {
  background: #c3aef8;
  padding: 20px 120px;
  border-radius: 10px;
}

.btn-work-inquiry-wp {
  font-family: var(--secondary-font-style);
  font-weight: 500;
  color: white;
  background-color: #ed7d59;
  border-radius: 2px;
  padding: 15px 50px;
  font-size: 15px;
  font-family: var(--secondary-font-style);
  border-radius: 4px;
  margin-top: 7px;
}

.btn-work-inquiry-wp:hover {
  color: #ed7d59;
  background-color: #fff;
  border: 3.5px solid #ed7d59;
  font-weight: 800;
}

.realistic-marker-highlight{
  position:relative;
}
.realistic-marker-highlight:before{
  content:"";
  background-color:#FBA8C0;
  width:100%;
  height:.70em;
  position:absolute;
  z-index:-1;
  filter:url(#marker-shape);
  left:-0.25em;
  top:0.1em;
  padding:0 0.25em;
}

/* about page Css */

.content-container {
  padding-top: 60px;
}

.img-selfie {
  border-radius: 9px;
  max-width: 560px;
  max-height: 450px;
  display: block;
  margin: 0 auto;
}

.about-main {
  margin: 30px;
}
.page-header {
  font-family: var(--heading-font-style);
  font-weight: bold;
  font-size: 45px;
}

p {
  font-family: var(--secondary-font-style);
  text-align: left;
  font-size: 18px;
  line-height: 30px;
}

.btn-view-profile {
  font-family: var(--secondary-font-style);
  font-weight: 500;
  color: white;
  background-color: #6C63FF;
  border-radius: 2px;
  padding: 10px 40px;
  font-size: 15px;
  font-family: var(--secondary-font-style);
  border-radius: 4px;
}

.btn-view-profile:hover {
  color: #6C63FF;
  background-color: white;
  border: 3px solid #6C63FF;
  font-weight: 700;
}

.fav-project-header {
  font-family: var(--heading-font-style);
  font-weight: bold;
  font-size: 40px;
  margin-top: 70px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.my-fav-projects {
  margin-left: 30px;
  margin-right: 30px;
}
.my-fav-projects h4 {
  font-family: var(--heading-font-style);
  font-weight: bold;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-fav-projects p {
  font-family: var(--secondary-font-style);
  font-size: 16px;
  line-height: 30px;
  margin-right: 20px;
}

.triple-images:hover {
  opacity: 0.3;
}

.contact-box-ap {
  background: #FBA8C0;
  padding: 20px 120px;
  border-radius: 10px;
}

.btn-work-inquiry-ap {
  font-family: var(--secondary-font-style);
  font-weight: 600;
  color: #000000;
  background-color: #EEFF28;
  border-radius: 2px;
  padding: 15px 50px;
  font-size: 15px;
  font-family: var(--secondary-font-style);
  border-radius: 4px;
  margin-top: 7px;
}

.btn-work-inquiry-ap:hover {
  color: #EEFF28;
  background-color: #FBA8C0;
  border: 3.5px solid #EEFF28;
  font-weight: 800;
}

.sketch-highlight{
  position:relative;
}
.sketch-highlight:before{
  content:"";
  z-index:-1;
  left:-0.2em;
  top:0.2em;
  border-width:4px;
  border-style:solid;
  border-color:#67D5D2;
  position:absolute;
  border-right-color:transparent;
  width:100%;
  height:1em;
  transform:rotate(2deg);
  opacity:0.5;
  border-radius:0.25em;
}
.sketch-highlight:after{
  content:"";
  z-index:-1;
  left:0.1em;
  top:0.1em;
  border-width:4px;
  border-style:solid;
  border-color:#67D5D2;
  border-left-color:transparent;
  border-top-color:transparent;
  position:absolute;
  width:100%;
  height:1em;
  transform:rotate(-1deg);
  opacity:0.5;
  border-radius:0.25em;
}



/* contact css */

i.fas,
i.fab {
  color: #ed7d59;
  font-size: 25px;
  margin: 10px 15px 10px 0px;
}

h2 {
  font-family: var(--heading-font-style);
  font-weight: bold;
  font-size: 20px;
}

.contact-container {
  padding: 30px 20px;
}

.cotact-info-container{
  margin: 20px 0px 30px 0px;
}
a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #444348;
}

.page-header {
  padding-top: 60px;
}

.contact-img {
  max-width: 360px;
  max-height: 450px;
  display: block;
  padding-right: 20px;
  padding-top: 25px;
  margin: 0 auto;
}
.circle-sketch-highlight{
  position:relative;
}
.circle-sketch-highlight:before{
  content:"";
  z-index:-1;
  left:0.3em;
  top:0.3em;
  border-width:2px;
  border-style:solid;
  border-color:#885DF1;
  position:absolute;
  border-right-color:transparent;
  width:100%;
  height:1em;
  transform:rotate(2deg);
  opacity:0.7;
  border-radius:50%;
  padding:0.1em 0.25em;
}
.circle-sketch-highlight:after{
  content:"";
  z-index:-1;
  left:-0.3em;
  top:0.3em;
  padding:0.1em 0.25em;
  border-width:2px;
  border-style:solid;
  border-color:#885DF1;
  border-left-color:transparent;
  border-top-color:transparent;
  position:absolute;
  width:100%;
  height:1em;
  transform:rotate(-1deg);
  opacity:0.7;
  border-radius:50%;
}

/* contact box */
.contact-box-hp {
  background: #abe8e6;
  padding: 20px 120px;
  border-radius: 10px;
}

.btn-work-inquiry-hp {
  font-family: var(--secondary-font-style);
  font-weight: 500;
  color: white;
  background-color: #885df1;
  border-radius: 2px;
  padding: 15px 50px;
  font-size: 15px;
  font-family: var(--secondary-font-style);
  border-radius: 4px;
  margin-top: 7px;
}

.btn-work-inquiry-hp:hover {
  color: #885df1;
  background-color: #abe8e6;
  border: 3.5px solid #885df1;
  font-weight: 800;
}



/* footer */

footer {
  background-color: var(--background-color);
}
footer .footer-contanier {
  display: inline;
  padding: 30px 10px;
}
footer .logo {
  margin: 20px;
}

footer .social-links {
  margin: 10px auto;
  padding: 0px 10px;
}

.social-media-link {
  padding: 0 10px;
}

footer p {
  text-align: right;
  padding: 18px 20px;
  color: #272142;
}

footer i.fas {
  color: #272142;
  font-size: 25px;
  margin: 10px 10px 10px 10px;
}

footer i.fab {
  color: #272142;
  font-size: 25px;
  margin: 10px 10px 10px 10px;
}

/* Media  */
@media (max-width: 767px) {
  .hero h1 {
    font-size: 46px;
  }
  .hero p {
    font-size: 21px;
  }
  .hero h2 {
    font-size: 28px;
  }
  .btn-main {
    padding: 10px 35px;
  }
  h3,
  h4 {
    font-size: 26px;
  }
  h2,
  p {
    font-size: 15px;
    text-align: center;
  }

  .contact-info {
    text-align: center;
  }

  i.fab,
  i.fas {
    font-size: 18px;
  }
  footer i.fab {
    font-size: 18px;
  }
  footer i.fas {
    font-size: 18px;
  }

  .img-selfie {
    width: 260px;
    height: 350px;
  }
  .content-container {
    text-align: center;
  }
  .page-header {
    font-size: 30px;
  }
  .about-info {
    font-size: 15px;
  }
  .my-fav-projects h4 {
    font-size: 20px;
  }
  .my-fav-projects p {
    font-size: 12px;
  }
  .fav-project-header {
    font-size: 25px;
  }
  .about-main {
    text-align: center;
    justify-content: center;
  }
  .btn-work-inquiry {
    padding: 9px 12px;
    font-size: 12px;
  }
  .social-media-link {
    padding: 0 0px;
  }
  footer p {
    text-align: center;
  }
}
